.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.header-footer {
  font-family: "Cabin Sketch", cursive;
  color: yellow;
}

.form-horizontal {
  margin-top: 75px;
}
