li {
  list-style: none;
  color: blue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.box-3 {
  text-align: center;
}

.card {
  height: 200px;
  justify-content: space-around;
}

.home {
  text-align: center;
}
