li {
  list-style: none;
  color: blue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.box-3 {
  text-align: center;
}

.card {
  height: 200px;
  margin-top: 40px;
  justify-content: space-around;
  font-family: "Cabin Sketch", cursive;
  color: black;
}

.home {
  text-align: center;
}

.card-content {
  color: black;
  font-size: 20px;
}
