body {
}
.col-6 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 25px;
  height: 20vh;
  width: 25vh;
  background-position: center;
  background-size: cover;
}

.img {
  background: url("https://i.imgur.com/WJNObR4.png");
  height: 30vh;
  width: 35vw;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 3px 2px 3px rgba(138, 144, 207, 0.8);
  margin: 25px;
}

.decks-link {
  list-style: none;
  margin-top: 10px;
}

.contain {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

.colum {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://i.imgur.com/WJNObR4.png");
  height: 30vh;
  width: 33vw;
  margin-bottom: 30px;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 3px 2px 3px rgba(138, 144, 207, 0.8);
}

.profile-li {
  list-style: none;
}

/* .container::after {
  background: url("https://i.imgur.com/DlWqCEB.jpg") no-repeat center center
    fixed;
  image-rendering: -webkit-optimize-contrast;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
} */

.card-name {
  font-family: "Cabin Sketch", cursive;
  font-size: 25px;
  color: black;
}

.card-name:hover {
  font-size: 35px;
  color: black;
  text-decoration: none;
}

.head {
  font-family: "Cabin Sketch", cursive;
  font-size: 80px;
  color: yellow;
}

.btn {
  font-family: "Cabin Sketch", cursive;
  /* font-family: "Rock Salt", cursive; */
  color: yellow;
  font-size: 20px;
}

.btn:hover {
  text-decoration: none;
  color: white;
}
